Source: canaima-base
Section: metapackages
Priority: required
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve> | Jesus Palencia <sinfallas@gmail.com> | Hector Mantellini <xombra.com@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.5
Homepage: http://canaima.softwarelibre.gob.ve/

Package: canaima-base
Maintainer: Hector A. Mantellini <xombra.com@gmail.com>
Architecture: all
Depends: acpi-support, base-files, base-passwd, bash-completion, bsdutils, dash, debconf-i18n, diffutils, dmraid, dnsmasq, dosfstools, e2fsprogs, eject, fakeroot, findutils, fuse, gcc, gcp, grep, grub-pc, gvfs-fuse, gzip, hdparm, hostname, init-system-helpers, initramfs-tools, intltool-debian, iotop, iproute2, laptop-detect, lm-sensors, localepurge, locales, login, lsb-release, lshw, lvm2, mawk, mtools, ncurses-base, ncurses-bin, ntfs-3g, ntfsprogs, ntpdate, pciutils, perl-base, pm-utils, prelink, powertop, sed, sensible-utils, ssh, sudo, tar, udisks, util-linux, vim-tiny, xfsprogs, xz-utils
Description: Metapaquete que agrupa las aplicaciones básicas para Canaima
 Este metapaquete agrupa un conjunto de aplicaciones básicas que conforman
 una base mínima para la Metadistribución Canaima GNU/Linux.
 Todos los sabores derivados de Canaima deben contener este metapaquete sin
 modificaciones.
